body {
    margin: 0;
    padding: 0;
}

div {
    width: 100px;
    height: 100px;
    background-color: #3d405b;
    display: inline-block;
    margin: 0 10px 0 0;
    border: 2px black solid;
}

#middlebox {
    background-color: #81b29afe;
    position: relative;
    top: 0;
    left: 300px;
}