<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
</head>
<body>
    <h1>Comments</h1>
    <ul>
        <% for(let c of comments) {%>
            <li><b><%=c.comment%></b> - <%=c.username %></li>
            <%}%>
    </ul>
    <br>
    <a href="/comments/new">Make your own comment!</a>
</body>
</html>